* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.logo a {
    font-size: 28px;
    font-weight: bold;
    color: #8b1d37;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #282c3f;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #b73956;
}

.search-bar {
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 5px 10px;
    width: 300px;
    align-items: center;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.search-bar button {
    background-color: #7d162e;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons a {
    margin-left: 20px;
}

.icons img {
    width: 24px;
    height: 24px;
}
